*{
    margin: 0;
    padding: 0;
}
.container {
    background: url("bg.jpg");
    min-height: 100vh ;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
#board{
    position: absolute;
    right: 400px;
    background: linear-gradient(rgb(85, 167, 160), rgb(139, 76, 85));
    width: 100vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#scoreNum{
    position: absolute;
    top: 9px;
    right: 170px;
    font-size: 38px;
    font-weight: bold;
    font-family: 'Lobster',cursive;
}

.head{
    background: linear-gradient(rgb(240, 124, 124), rgb(112, 163, 201));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 8px;
}
